<%= form_for( @photo ) do |f| %>

  Upload a photo
  <div class="field">
    <%= f.label :photo_info %><br>
    <%= f.file_field :photo_info %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
